.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  margin-top: 100px;
}

// .column {
//   width: 32%;
//   height: 500px;
//   overflow: scroll;
// }

.item__image {
  width: 40px;
  height: 40px;
  border-radius: 100%;

  & img {
    min-width: 100%;
  }
}
