.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  margin-top: 100px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 20px);
}
