.column {
  // min-width: 250px;
  flex: 1 1 30%;
  height: 500px;
  overflow: scroll;

  & + & {
    margin: 1rem;
  }
}

// .item__image {
//   width: 40px;
//   height: 40px;
//   border-radius: 100%;

//   & img {
//     min-width: 100%;
//   }
// }
