<mat-card class="column">
  <mat-form-field appearance="fill" class="input--full-width">
    <mat-label>Favorite Food</mat-label>
    <mat-select [value]="selectedBrewer" (selectionChange)="onChange($event)">
      <mat-option [value]="option" *ngFor="let option of data | brewers">{{
        option
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <mat-list>
      <div mat-subheader>Folders</div>
      <mat-list-item
        *ngFor="let item of filteredData | chunk: chunkDevider:chunkCount"
      >
        <img matListAvatar [src]="item.image_url" (click)="openDialog(item)" />
        <h3 mat-line>{{ item.name }}</h3>
        <div mat-line>
          <span>{{ item.type }}</span>
          <span>-- {{ item.price }}</span>
        </div>
      </mat-list-item>
      <button mat-button *ngIf="isAnyMoreItems" (click)="onLoadMore()">
        Load More
      </button>
    </mat-list>
  </div>
</mat-card>
